body {
    background-color: rgb(218, 221, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 


}


.cuchillo {
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 86.6px solid rgb(0, 0, 0); /* Altura = (lado/2) * √3 */
    bottom:45.6%; 
    left: 25.35%; 
    transform: rotate(20deg);
}

.cuchillo::before{
    position: relative;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 86.6px solid rgb(82, 122, 173); /* Altura = (lado/2) * √3 */
    transform: rotate(20deg);
}

.cuchillo1 {
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 86.6px solid rgb(0, 0, 0); /* Altura = (lado/2) * √3 */
    bottom:37%; 
    left: 14%; 
    transform: rotate(200deg);
}

.cuerpo {
    width: 730px;
    height: 600px;
    background-color: black;
    border-radius: 70px;
    position: absolute;
    border: 10px solid black;

}
.cabeza {
    content: '';
    position: absolute;
    width: 97%;
    height: 90%;
    background-color: rgba(69, 106, 185, 0.863);
    border-radius: 70px;
    border: 10px solid black;
}

.rostro{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 15.7%;
    width: 65%;
    height: 80%;
    background-color: rgba(69, 106, 185, 0.767);
    border-radius: 110px;
    border: 13px solid black;
}

.antifaz {
    content: '';
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 95%;
    height: 40%;
    background-color:black;
    border-radius: 0;
    border: 13px solid black;

}

.antifaz::before{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 8%;
    width: 35%;
    height: 90%;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    clip-path: polygon(0 25%, 100% 55%, 100% 100%, 0 100%);   
}

.antifaz::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 57%;
    width: 35%;
    height: 90%;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    clip-path: polygon(0 55%, 100% 25%, 100% 100%, 0 100%);  
     
}

.bandared{
    content: '';
    position: absolute;
    top: -127px;
    left:-43%;
    width: 179%;
    height: 70%;
    background-color: rgb(168, 6, 6);
    border-radius: 60px;
    border: 13px solid black;  
}

.bandablue{
    content: '';
    position: absolute;
    top:-30px;
    left: 14%;
    width: 68.5%;
    height: 130%;
    background-color: rgb(126, 133, 197);
    border-radius: 70px;
    border: 13px solid black; 
}

.bandabluedark{
    content: '';
    position: absolute;
    top:29px;
    left: 5%;
    width: 90%;
    height: 62%;
    background-color: rgb(41, 50, 134);
    border-radius: 37px; 
}

.circle{
    content: '';
    position: absolute;
    top: 16%;
    left: 14%;
    width: 14%;
    height: 68%;
    background-color:rgb(126, 133, 197);
    border-radius: 100%;
}

.circle1{
    content: '';
    position: absolute;
    top: 16%;
    left: 44%;
    width: 14%;
    height: 68%;
    background-color:rgb(126, 133, 197);
    border-radius: 100%;
}

.circle2{
    content: '';
    position: absolute;
    top: 16%;
    left: 74%;
    width: 14%;
    height: 68%;
    background-color:rgb(126, 133, 197);
    border-radius: 100%;
}

