body {
    background-color: rgb(218, 221, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 


}


.cuerpo {
    width: 730px;
    height: 600px;
    background-color: black;
    border-radius: 70px;
    position: relative;
    display: flex;
    border: 10px solid black;

}
.cabeza {
    content: '';
    position: absolute;
    width: 97%;
    height: 90%;
    background-color: rgba(69, 106, 185, 0.863);
    border-radius: 70px;
    border: 10px solid black;
}

.rostro{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 15.7%;
    width: 65%;
    height: 80%;
    background-color: rgba(69, 106, 185, 0.767);
    border-radius: 110px;
    border: 13px solid black;
}

.antifaz {
    content: '';
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 95%;
    height: 40%;
    background-color:black;
    border-radius: 0;
    border: 13px solid black;

}

.antifaz::before{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 8%;
    width: 35%;
    height: 90%;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    clip-path: polygon(0 25%, 100% 55%, 100% 100%, 0 100%);   
}

.antifaz::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 57%;
    width: 35%;
    height: 90%;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    clip-path: polygon(0 55%, 100% 25%, 100% 100%, 0 100%);   
}




